body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #2151343A7B9B;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 30%, rgba(48, 111, 169, 1) 100%);
    color: white;
    height: 100vh;
}

.contenedor {
    display: flex;
    gap: 30px;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

.perfil {
    flex: 1;
    background: #2151343A7B9B;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(48, 111, 169, 1) 100%);
    padding: 40px;
    border-radius: 10px;
    outline: 5px solid white;
}

.categorias {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.cajita {
    background-color: #34495e;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    padding: 20px;
    outline: 5px solid white;
}

.habilidades { background-color: #00498D; }
.sobre-mi { background-color: #00498D; }
.educacion { background-color: #00498D; }
.proyecto1 { background-color: #002E5A; }
.proyecto2 { background-color: #002E5A; }
.proyectoB { background-color: #002E5A; }
.que-aporto { background-color: #001427; }
.que-busco { background-color: #001427; }
.que-aspiro { background-color: #001427; }

h1 {
    margin: 0 0 15px 0;
    font-size: 2.8em;
}

p {
    margin: 0;
    font-size: 1.3em;
    opacity: 0.9;
}